<div class="fuelux">
<div class="well">
  <div id="MyWizard" class="wizard">
    <ul class="steps">
      <li id ='first' data-target="#step1" class="active"><span class="badge badge-info">1</span>Landlord's Account Detail<span class="chevron"></span></li>
      <li id ='second' data-target="#step2"><span class="badge">2</span>User Profile<span class="chevron"></span></li>
      <li id ='third' data-target="#step3"><span class="badge">3</span>Flat Profile<span class="chevron"></span></li>
    </ul>
    <!-- <div class="actions" style="display:none">
      <button class="btn btn-mini btn-prev" id="previous"> <i class="icon-arrow-left"></i>Prev</button>
      <button class="btn btn-mini btn-next" id="next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
    </div> -->
  </div>
  <div class="step-content">
    <div class="step-pane active" id="step1"><!-- <h2><i class="icon-magic"> </i> &nbsp; Let's get you register quickly.</h2> -->
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <center>
          <h1><small>Landlord's Bank details!</small></h1>
          <hr class="colorgraph">
          <%= form_for :bank_details, :html => {:id => "landlord_bank_detail_id"}, :url => save_landlord_bank_info_path do |f| %>
              <div class="input-group">
                <span class="input-group-addon">Landlord's Name</span>
                <%= f.text_field :payee_name, :autofocus => true,:placeholder => "Landlord's name", class: "form-control" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Account Number</span>
                <%= f.text_field :payee_account_number, :placeholder => "Landlord's account number", class: "form-control" %>
              </div>               
              <div class="input-group">
                <span class="input-group-addon">Confirm A/c No.</span>
                <%= f.text_field :payee_account_number, :placeholder => "Confirm landlord's account number", class: "form-control" %>
              </div>               
              <div class="input-group">
                <span class="input-group-addon">IFSC Code</span>
                <%= f.text_field :payee_ifsc_code, :placeholder => "IFSC Code", class: "form-control" %>
              </div>                
              <div class="input-group">
                <span class="input-group-addon">Mobile Number</span>
                <%= f.text_field :payee_contact_number, :placeholder => "Landlord's mobile number(optional)", class: "form-control" %>
              </div>               
              <div class="input-group">
                <span class="input-group-addon">Email ID</span>
                <%= f.text_field :payee_email, :placeholder => "Landlord's email id(optional)", class: "form-control" %>
              </div>
              <hr>
              <div class="input-group">
                <span class="input-group-addon">Rent Amount</span>
                <%= f.text_field :rent_amount, :autofocus => true,:placeholder => "Rent amount", class: "form-control" %>
              </div>               
              <div class="input-group">
                <span class="input-group-addon">Security Deposit</span>
                <%= f.text_field :security_deposit, :autofocus => true,:placeholder => "Security deposit", class: "form-control" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Select a due date to pay rent</span>
                <%= f.select 'rent_due_date', options_for_rent_payable_date, {prompt: "-- Select a date --"}, {:id => "rent_due_date",:class => 'form-control'} %>
              </div>
              <hr>
              <div class="input-group">
                <span class="input-group-addon">Name</span>
                <%= f.text_field :name,:placeholder => "Your name", class: "form-control" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Contact No.</span>
                <%= f.text_field :contact_no,:placeholder => "Your contact number", class: "form-control" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Account No.</span>
                <%= f.text_field :bank_account_number,:placeholder => "Your bank account number(optional)", class: "form-control" %>
              </div>                
              <div class="input-group">
                <span class="input-group-addon">IFSC code</span>
                <%= f.text_field :ifsc,:placeholder => "Your IFSC Code(optional)", class: "form-control" %>
              </div>
              <hr>
                <%= f.submit "Next", :id => "bank_details_next", class: "btn btn-primary btn-lg btn-block" %><br />
          <% end %>
          </center>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="step-pane" id="step2">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <center>
          <h1><small>User details!</small><input class="btn btn-warning pull-right" id="skip" value="Skip" type="button"></h1>
          <hr class="colorgraph">
          <%= form_for :user_detail, :html => {:id => "user_detail_id"}, :url => save_user_info_path do |f| %>
              <div class="input-group">
                <span class="input-group-addon">First Name</span>
                <%= f.text_field :first_name, :autofocus => true, :placeholder => "Your first name", class: "form-control"%>
              </div>              
              <div class="input-group">
                <span class="input-group-addon">Last Name</span>
                <%= f.text_field :last_name, :placeholder => "Your last name", class: "form-control"%>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Mobile Number</span>
                <%= f.text_field :contact_number, :placeholder => "Your mobile number", class: "form-control"%>
              </div>                
              <div class="input-group">
                <span class="input-group-addon">PAN</span>
                <%= f.text_field :pan, :placeholder => "Your PAN card number", class: "form-control"%>
              </div>  
              <hr>
                <%= f.submit "Next", :id => "user_details_next", class: "btn btn-primary btn-lg btn-block" %><br />
          <% end %>
          </center>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="step-pane" id="step3">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <center>
          <h1><small>Your property details!</small><%= link_to "Skip", tenant_path, :id=>"tenantPage", :class => "btn btn-warning pull-right" %></h1>
          <hr class="colorgraph">
          </center>
        </div>
        <div class="col-md-4"></div>
        <%= form_for :property, :html => {:id => "property_form_id"}, :url => save_property_details_path do |f| %>
        <div>
        <div class="col-md-6" id="property_detail">
          <div class="input-group">
            <span class="input-group-addon">Description</span>
            <%= f.text_field :description, :autofocus => true, :placeholder => "eg. 2BHK in Andheri", class: "form-control"%>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Locality</span>
            <%= f.text_field :area, :placeholder => "eg. Juhu", class: "form-control" %>
          </div> 
          <div class="input-group">
            <span class="input-group-addon">Pin Code</span>
            <%= f.text_field :pin_code, :placeholder => "eg. 400049", class: "form-control" %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Postal Address</span>
            <%= f.text_field :postal_address, :placeholder => "First line eg. House no. 12, Street 13", class: "form-control" %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Landmark</span>
            <%= f.text_field :landmark, :placeholder => "eg. Near Infosys Campus", class: "form-control" %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">City</span>
            <%= f.text_field :city, :placeholder => "eg. Pune", class: "form-control" %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">State</span>
            <%= f.select 'state', options_for_select(["Tamil Nadu","Maharashtra"]), {prompt: "-- Select --"}, {:id => "state",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Built up area</span>
            <%= f.text_field :built_up_area, :placeholder => "eg. 1200", class: "form-control" %>
            <span class="input-group-addon"><small>sq. feet</small></span>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Lease Type</span>
            <%= f.select 'lease_type', options_for_select(["Family only","Bachelors","Spinsters","Available to all"]), {prompt: "-- Select --"}, {:id => "lease_type",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Water Supply</span>
            <%= f.select(:water_supply_type, [['Boring Water', 1], ['Supply Water', 2]], {prompt: "-- Select --"}, {:id => "water_supply_type",:class => 'form-control'}) %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Direction facing</span>
            <%= f.select 'direction_facing', options_for_select(["North","East","South","West"]), {prompt: "-- Select --"}, {:id => "direction_facing",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Furnishing</span>
            <%= f.select 'furnishing', options_for_select(["Fully-furnished","Semi-furnished","Unfurnished"]), {prompt: "-- Select --"}, {:id => "furnishing",:class => 'form-control'}%>
          </div>
        </div>
        <div class="col-md-6" id="furnish_detail">
          <div class="input-group">
            <span class="input-group-addon">Bedroom</span>
            <%= f.select 'bedroom', options_for_select([1,2,3,4,5,"more"]), {prompt: "-- Select --"}, {:id => "bedroom",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Bathroom</span>
            <%= f.select 'bathroom', options_for_select([1,2,3,4,5,"more"]), {prompt: "-- Select --"}, {:id => "bathroom",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Wardrobe</span>
            <%= f.select 'wardrobe', options_for_select(["Yes","No"]), {prompt: "-- Select --"}, {:id => "tv",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">AC</span>
            <%= f.select 'ac', options_for_select([1,2,3,4,5,"more"]), {prompt: "-- Select --"}, {:id => "ac",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">TV</span>
            <%= f.select 'tv', options_for_select([1,2,3,4,5,"more"]), {prompt: "-- Select --"}, {:id => "tv",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Dining Table</span>
            <%= f.select 'dining_table', options_for_select(["Yes",1],["No",0]), {prompt: "-- Select --"}, {:id => "dining_table",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Parking</span>
            <%= f.select 'parking', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "parking",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Refrigerator</span>
            <%= f.select 'refrigerator', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "refrigerator",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Geyser</span>
            <%= f.select 'geyser', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "refrigerator",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Sofa</span>
            <%= f.select 'sofa', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "sofa",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Gas pipeline</span>
            <%= f.select 'gas_pipeline', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "gas_pipeline",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Gymnasium</span>
            <%= f.select 'gym', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "refrigerator",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Swimming pool</span>
            <%= f.select 'swimming_pool', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "swimming_pool",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Lift</span>
            <%= f.select 'lift', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "lift",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Wash machine</span>
            <%= f.select 'washing_machine', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "washing_machine",:class => 'form-control'} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Microwave</span>
            <%= f.select 'microwave', options_for_select([["Yes",1],["No",0]]), {prompt: "-- Select --"}, {:id => "microwave",:class => 'form-control'} %>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <center><%= f.submit "Finish", :id => "property_details_next", :name => "save_property", class: "btn btn-primary btn-lg btn-block" %></center>
      </div>
      <div class="col-md-4"></div>
      <% end %>
    </div>
    </div>
  </div>
  <br>
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
<script type="text/javascript">
  require.config({
          paths: {
        'fuelux': 'http://www.fuelcdn.com/fuelux/2.6.0/',
              'jquery': 'http://code.jquery.com/jquery-1.11.0.min'
          }
  });
  require(['fuelux/wizard']);
</script>
  