<!-- <h1>Welcome to RentBazaar</h1>
<h3>The premiere one-stop rent portal!</h3>

	http://www.bootply.com/115362
http://wwww.bootply.com/96188	
http://startbootstrap.com/ 

<p><%= link_to "Tenant", tenant_path, :id=>"tenantPage", :class => "btn btn-lg btn-primary" %></p>
<p><%= link_to "Landlord", landlord_path, :id=>"landlordPage", :class => "btn btn-lg btn-primary" %></p>
 -->
 <!-- Wrap all page content here -->
<!DOCTYPE html>
<html>
<head>
  <title>RentBazaar</title>
  <%= csrf_meta_tags %>
</head>
<body class="grey">
  <div class="" id="wrap">
    <header class="masthead">
    <!-- Carousel -->
	    <div id="myCarousel" class="carousel slide">
	    <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li class="" data-target="#myCarousel" data-slide-to="1"></li>
	        <li class="" data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	          <%= image_tag("RB_2.eps", :class => "img-responsive") %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h2 class="">RB Advantage I</h2>
	              <p class=""></p>
	            </div>
	          </div>
	        </div>
	        <div style="" class="item">
	          <%= image_tag("rb_logo.jpg", :class => "img-responsive") %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h2 class="">RB Advantage II</h2>
	              <p class=""></p>
	            </div>
	          </div>
	        </div>
	        <div style="" class="item">
	          <%= image_tag("rb_logo.jpg", :class => "img-responsive") %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h2 class="">RB Advantage III &amp; RB Advantage IV</h2>
	              <p class=""></p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- /.carousel-inner -->
	      <div class="logo">TODO::RB Advantage images goes here!</div>
	      <!-- Controls -->
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left"></span>
	      </a>
	 	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right"></span>
	      </a> 
		</div>
	<!-- /.carousel -->
	</header>
	<!-- Fixed navbar -->
	<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
 			<span class="icon-bar"></span>
 			<span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav nav-justified">
            <li><a class="" href="#introduction">Home</a></li>
            <li><a class="" href="#rb_advantage">RB Advantage</a></li>
            <li><a class="" href="#rm_advantage">Roommate Advantage</a></li>
            <li><a class="" href="#screening">Tenant/Landlord screening</a></li>
            <li><a class="" href="#contact_us">Contact Us</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    <!--/.container -->
	</div>
	<!--/.navbar -->
	<!-- Begin page content -->
	<div class="divider" id="introduction"></div>
	<div class="container">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
           <h1 class="">Introducing RentBazaar</h1>
		</div>
        <p class="lead text-center">The way this world sees the rental business will never be the same!</p>
        <hr class="">
		<div class="col-md-6">
			<center>
			<h1><small>Create account here!</small></h1>
			<hr class="colorgraph">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
			  		<%= f.email_field :email, :autofocus => true,:placeholder => "Email", class: "form-control" %>
			  		<%= f.password_field :password,:placeholder => "Password", class: "form-control" %>
			  		<%= f.password_field :password_confirmation,:placeholder => "Confirm Password", class: "form-control" %>
			  		<hr>
			  		<%= f.submit "Register", class: "btn btn-primary btn-lg btn-block" %><br />
			<% end %>
			</center>
		</div>
		<div class="col-md-6">
			<center>
			<h1><small>Already, have an account?</small></h1>
			<hr class="colorgraph">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
			  		<%= f.email_field :email, :autofocus => true, :placeholder => "Email", class: "form-control" %>
			  		<%= f.password_field :password,:placeholder => "Password", class: "form-control", style: "margin-bottom: 14px;" %>
					<%= f.check_box :remember_me, class: "pull-left"%> <%= f.label :remember_me, class: "pull-left" %>
					<div class="pull-right"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
			  		<br />
			  		<hr>
			  		<%= f.submit "Login", class: "btn btn-success btn-lg btn-block" %><br />
			<% end %>
			</center>
		</div>
        <div class="divider"></div>
      </div>
	</div>
	<div class="divider"></div>
	<section class="bg-1">
      <div class="col-sm-6 col-sm-offset-3 text-center"></div>
	</section>
	<div class="divider" id="rb_advantage"></div>
	<div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="">RB Advantage</h1>
        <hr class="">
        <p class="">RentBazaar allows tenants to pay their rent online through credit cards, debit cards and other such mode of payments. This is particularly useful to both the parties(tenant and landlords) as it makes the process of rent payment more flexible and hassle-free, making their task easier.</p>
        <p class="">The idea behind RentBazaar is to provide a one-stop portal for all housing(rental) needs. It is much more than simply a technology provider. It provides a human touch by reminding tenants to pay rent on time, allowing tenants to split rent among themselves(roommate sharing), keep a track of their payments, get their HRA in just a click of mouse, feature to download and upload their rent agreement and much more. This would not only make the problem of paying/collecting rent, a thing of past but will also help bring in more transparency for paying taxes.</p>
        <p class="">We are first in the industry to offer a complete platform for properties to accept different kind of online payments. This increases the chances for landlords/ property managers to receive their payment on time and seamlessly. Also, we provide an innovative feature wherein, the landlords can screen their tenants and vice-versa, before renting (their) property.</p>
        <p class="">Our innovation is aimed to make the life of our users a little easier as we provide a single window for all their rental needs, which includes contact information and reviews of numerous vendors catering in their locality. So next time if you need to contact an electrician, all you need to do is login to your account and find all details of electricians available in your locality. The idea of having reviews for each vendor will help the tenants to select an appropriate vendor, based on his reputation.</p>
		<p class="">Thus, the next time a vendor gives any service, he will be in his best behaviour so as to get good ratings! This will help our user get the best hospitality and services from various vendors.</p>
        <hr class="">
        <div class="divider"></div>
    </div>
    <!--/col-->
</div>
<!--/container-->
<div class="divider"></div>
<section class="bg-3">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2 class="" style="padding:20px;background-color:rgba(5,5,5,.8)">RB is Coming Soon!</h2>
    </div>
</section>
<div class="divider" id="rm_advantage"></div>
<div class="bg-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a class="" href="#" title="Renovations"><%= image_tag("rb_logo.jpg", :class => "img-responsive") %></a>
                    </div>
                    <div class="panel-body">
                        <p class="">Pay-Now</p>
                        <p class=""></p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a class="" href="#" title="Academic Institutions"><%= image_tag("rb_logo.jpg", :class => "img-responsive") %></a>
                    </div>
                    <div class="panel-body">
                        <p class="">Roommate</p>
                        <p class=""></p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a class="" href="#" title="Interiors"><%= image_tag("rb_logo.jpg", :class => "img-responsive") %></a>
                    </div>
                    <div class="panel-body">
                        <p class="">Payment History</p>
                        <p class=""></p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a class="" href="#" title="New Construction"><%= image_tag("rb_logo.jpg", :class => "img-responsive") %></a>
                    </div>
                    <div class="panel-body">
                        <p class="">Profile</p>
                        <p class=""></p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a class="" href="#" title="Site Planning"><%= image_tag("rb_logo.jpg", :class => "img-responsive") %></a>
                    </div>
                    <div class="panel-body">
                        <p class="">Review and Rating</p>
                        <p class=""></p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a class="" href="#" title="Churches"><%= image_tag("rb_logo.jpg", :class => "img-responsive") %></a>
                    </div>
                    <div class="panel-body">
                        <p class="">Customizable</p>
                        <p class=""></p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<div class="divider" id="screening"></div>
<div class="row">
	<div class="col-md-12">
		<h1 class="">Tenant/Landlord screening</h1>
		Something goes here :P
    </div>
    <div class="col-md-8 col-md-offset-1"></div>
</div>
<!--/row-->
<div class="divider" id="contact_us"></div>
<div class="row">
    <hr class="">
    <div id="abId0.9853080030541751" class="col-sm-9 col-sm-offset-1">
        <div id="abId0.6244093305841896" class="row form-group">
            <div class="col-md-12">
                 <h1 class="">Contact Us</h1> 
            </div>
            <div id="abId0.42038525206130606" class="col-xs-4">
                <input class="form-control" id="firstName" name="name" placeholder="Your Name" type="text">
            </div>
            <div id="abId0.28846342073538556" class="col-xs-6">
                <input class="form-control" id="organization" name="organization" placeholder="Company or Organization" type="text">
            </div>
        </div>
        <div id="abId0.9746245881243031" class="row form-group">
            <div id="abId0.41535574984758816" class="col-xs-5">
                <input class="form-control" name="email" placeholder="Email" type="text">
            </div>
            <div id="abId0.4179648567241063" class="col-xs-5">
                <input class="form-control" name="phone" placeholder="Phone" type="text">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <textarea class="form-control" placeholder="Comments"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <button class="btn btn-default pull-right">Contact Us</button>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <ul class="list-inline center-block">
            <li><a class="" href="http://facebook.com/bootply"><img class="" src="/assets/example/soc_fb.png"></a>
            </li>
            <li><a class="" href="http://twitter.com/bootply"><img class="" src="/assets/example/soc_tw.png"></a>
            </li>
            <li><a class="" href="http://google.com/+bootply"><img class="" src="/assets/example/soc_gplus.png"></a>
            </li>
            <li><a class="" href="http://pinterest.com/in1"><img class="" src="/assets/example/soc_pin.png"></a>
            </li>
        </ul>
    </div>
    <!--/col-->
</div>
<!--/container-->
</div>
<!--/wrap-->
<div class="" id="footer">
    <div class="container">
        <p class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Product Copyright ©2014 - <a href="https://www.linkedin.com/profile/view?id=89879679&trk=nav_responsive_tab_profile_pic">Manish Tewary</a> .</p>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li><a id="scroll_to_top" class="" href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                	<h3 class="modal-title"></h3>

            </div>
            <div class="modal-body">
                <div id="modalCarousel" class="carousel">
                    <div class="carousel-inner"></div> <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>

                    <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%= stylesheet_link_tag "application","bootstrap" %>
<%= javascript_include_tag "jquery","application","bootstrap" %>
<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.nav{
	background-image: url(/assets/bg.png);
	background-color: #B84D45 !important;
}
.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel  .item {
  height: 600px;
  background-color:#bbb;
}
#myCarousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

header {
  background: #333;
  color:#555;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

h1 {
  font-size:50px;
}

.logo {
  font-size:40px;
  position:absolute;
  z-index:1200;
  color:#333;
  top:70px;
  text-align:center;
  width:100%;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
  
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .dropdown-menu li>a:hover {
	color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #9D322A;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:50px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
	
	}
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
	background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('http://www.bootply.com/assets/example/bg_blueplane.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
    background-color:#e6e6e6;
}

.panel .img-responsive {
	min-height:270px;
    max-height:270px;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
    $('body,html').scrollTop(0);
});

$('.carousel').carousel({interval:false});

/* affix the navbar after scroll below header */
$('#nav').affix({
      offset: {
        top: $('header').height()-$('#nav').height()
      }
});	

/* highlight the top nav as scrolling occurs */
$('body').scrollspy({ target: '#nav' })

/* smooth scrolling for scroll to top */
$('.scroll-top').click(function(){
  $('body,html').animate({scrollTop:0},1000);
})

/* smooth scrolling for nav sections */
$('#nav .navbar-nav li>a').click(function(){
  var link = $(this).attr('href');
  var posi = $(link).offset().top;
  $('body,html').animate({scrollTop:posi},700);
});


/* copy loaded thumbnails into carousel */
$('.panel .img-responsive').on('load', function() {
  
}).each(function(i) {
  if(this.complete) {
  	var item = $('<div class="item"></div>');
    var itemDiv = $(this).parent('a');
    var title = $(this).parent('a').attr("title");
    
    item.attr("title",title);
  	$(itemDiv.html()).appendTo(item);
  	item.appendTo('#modalCarousel .carousel-inner'); 
    if (i==0){ // set first item active
     item.addClass('active');
    }
  }
});

/* activate the carousel */
$('#modalCarousel').carousel({interval:false});

/* change modal title when slide changes */
$('#modalCarousel').on('slid.bs.carousel', function () {
  $('.modal-title').html($(this).find('.active').attr("title"));
})

/* when clicking a thumbnail */
$('.panel-thumbnail>a').click(function(e){
  
    e.preventDefault();
    var idx = $(this).parents('.panel').parent().index();
  	var id = parseInt(idx);
  	
  	$('#myModal').modal('show'); // show the modal
    $('#modalCarousel').carousel(id); // slide carousel to selected
  	return false;
});



</script>
</body>
</html>